/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-sep-2016, 14:48:15
    Author     : alumno
*/



.boton{
    align-content: center;
    text-decoration: none;
    border-radius: 50px;
    padding: 20px 90px;

    width: 200px;
    height: 150px;

}

.boton--pagina_web{
    color: #081472;
    background: #FFF773;
    border: 2px solid #D7B87B;
}
.boton2--space_x{
    color: #081472;
    background: #A069D6;


}
.articulo{
    background-color: #6F83D6;
    padding: 2em;
}
.articulo--pagina_web{
    background-color: #6F83D6;
}
.articulo--space{
    background-color: #2A3758;
}
.seccion{
    padding: 2em;
}
.seccion--pagina_web{
    background-color: #D7BB59;

}
.seccion--pagina_space{
    background-color: #FF8200;
}

.box_sin{
    width: 800px;
    padding: 30px;
    border: 30px solid;
    margin: 10px; 
    height: 100%;

}
.box_con{
    width: 800px;
    padding: 30px;
    border: 30px solid;
    margin: 10px;
    height: 100%;
    box-sizing: border-box;


}
.tabla_redondeada{
    width: 600px;
    height: 600px;
    border-radius: 20px;
    border: 1px solid black;
}
.cabecera{
    border: 1px solid black;
    background-color: #AE7027;
}
.celdas{
    border: 1px solid black;
    background-color: #D7C27B;
    border-collapse: collapse;
}

.panel {
    display: inline-block;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px #BDBDBD;
    border-bottom-right-radius: 4px;
}
.panel--primary{
    box-shadow: 5px 5px 10px #337AB7;
}
panel--cabecera{
    padding-right: 30px;
    border: 1px solid black;
}



.panel--success {
    box-shadow: 5px 5px 10px #DFF0D8;
}










/*Clase 04/10/2016*/
.button {
    display:inline-block;
    text-decoration: none;
    border-radius: 5px;
    align-content: center;
    padding: 8px;
    color: white;
    font-size: 14px;
}
.button--primary{
    background-color: #337AB7;
    border: 1px solid #2E6DA4;
}
.button--success{
    background-color: #5CB85C;
    border: 1px solid #4CAE4C;
}
.button--info{
    background-color:#5BC0DE;
    border: 1px solid #46B8DA;
}
.button--warning{
    background-color: #F0AD4E;
    border: 1px solid #EEA236;
}
.button--error{
    background-color: #D9534F;
    border: 1px solid #D43F3A;
}


.button--large {
    font-size: 20px;
    padding: 10px;
}
.button--small {
    font-size: 11px;
    padding: 6px;
}
.button--extra_small {
    padding: 4px;
    font-size: 11px;
}
.button--boton{
    outline: 0px;
}
.button--primary:hover{
    background-color: #2E6DA4;

}
.button--success:hover{
    background-color: #4CAE4C;

}
.button--info:hover{
    background-color: #46B8DA;

}
.button--warning:hover{
    background-color: #EEA236;

}
.button--error:hover{
    background-color: #D43F3A;

}

.button--success:active{
    box-shadow: inset 0px 3px 10px 0px #006600;   
}

.button--warning:focus{
    box-shadow: inset 0px 3px 10px 0px #d96c0d; 
}

.menu__link{
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    display: block;
    padding: 10px 2px;

}

.menu__item{
    align-content: center;
    float:left;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right:  1px solid black;
    list-style: none;



}
.menu__item:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left:0px;

}
.menu__item:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;

}
.menu__item:hover{
    background-color:#d0d0d0;
    border-color: red;
}


.menu__item:active{
    box-shadow: inset 0px 3px 10px 0px grey;
}

.menu__item--selected{
    background-color: #efcd3e;

}
.menu__item--selected:hover{
    background-color: #c5a82e; 
}




/* div*/
.vertical__menu{

}

/*lu*/
.vertical__menu__container{
    
}

/*li*/
.vertical__menu__item-0{
    list-style: none;
    width: 600px;
    color: white;
    padding-top:30px;
    padding-left: 0px;
    padding-right:0px;
    padding-bottom: 0px;
    
    

    
}
.vertical__menu__item-1{
    list-style: none;
    width: 579px;
    color: white;
    padding-right: 40px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-right: 0px;
}



.vertical__menu__item-0--open{
    border: 0.2px solid #35383D;
    background-color:#4D5158;

}
.vertical__menu__item-0--close{
    border: 0.2px solid #35383D;
    background-color:#4D5158;
}


.vertical__menu__item-0--open:before{
    content:'\f07c';
    font-family: FontAwesome;
}


.vertical__menu__item-0--close:before{
    content:'\f07b';
    font-family: FontAwesome;
}



.vertical__menu__item-1--open{
    border: 0.2px solid #4D5158;
    background-color:#35383D;

}
.vertical__menu__item-1--close{
    border: 0.2px solid #4D5158;
    background-color:#35383D;
}
.vertical__menu__item-1--thing{
    border: 0.2px solid #4D5158;
    background-color:#35383D;
}


.vertical__menu__item-1--close:before{
    content:'\f07b';
    font-family: FontAwesome;
}

.vertical__menu__item-1--open:before{
    content:'\f07c';
    font-family: FontAwesome;
}
.vertical__menu__item-1--thing:before{
    content:'\f15b';
    font-family: FontAwesome;
}







.arrow--close:after{
    float: right;
    content:'\f0d7';
    font-family: FontAwesome;
}
.arrow--open:after{
    float: right;
    content:'\f0d8';
    font-family: FontAwesome;
}