.box_sin{
    width: 800px;
    padding: 30px;
    border: 30px solid;
    margin: 10px; 
    height: 100%;

}
.box_con{
    width: 800px;
    padding: 30px;
    border: 30px solid;
    margin: 10px;
    height: 100%;
    box-sizing: border-box;


}