.dashboard{
    
}

.dashboard__header{
    font-weight: bold;    
}

.dashboard__items{
    margin-top: 5px;
    padding-left: 40px;
    padding-right: 1px;
    padding-bottom: 1px;
    color: #CDD0D3;
}